html, body {
  height: 100%;
  width: 99%;
}

body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: $fuente-monserrat;
}

.input-form {
  width: 100%;
}

.label-detail {
  width: 100%;
}