.sales {
  font-family: $fuente-monserrat;

  .section-logout {
    float: right;
    padding-top: 4px;

    .logout-margin {
      background: $color-alert;
      padding: 10px 20px;
      border-radius: 8%;

      span {
        color: #ffff;
      }
    }
  }

  .sections-sales {
    padding-top: 72px;

    .table-sales {
      width: 100%;

      .icons-table {
        padding: 0 2px 0 0;
      }
    }
  }
}

.edit-sales {
  font-family: $fuente-monserrat;
  padding-top: 20px;
  padding-bottom: 12px;

  .form-edit {
    .card-edit {
      border-top: solid 4px red;

      .align-center{
        text-align: center;
      }
    }
  }
}

.create-sales {
  font-family: $fuente-monserrat;
  padding-top: 20px;
  padding-bottom: 12px;

  .form-create {
    .card-create {
      border-top: solid 4px blue;

      .align-center{
        text-align: center;
      }
    }
  }
}
