<section class="edit-sales">
  <div class="container">
    <div class="title">
      <h1>Editar Venta {{ sale.id }}</h1>
    </div>
    <div class="form-edit">
      <mat-card class="card-edit mat-elevation-z8">
        <form [formGroup]="formEdit" (ngSubmit)="updateSale(formEdit.value)">
          <div class="row">
            <div class="col-md-6">
              <label class="label-detail">Cliente</label>
              <mat-form-field class="input-form" [floatLabel]="'never'">
                <mat-select
                  matInput                  
                  name="cliente"
                  formControlName="cliente"
                  placeholder="Seleccione Cliente">
                  <mat-option [value]="clientes.id_cliente" *ngFor="let clientes of lstClientes"> {{ clientes.cliente }} </mat-option>
                </mat-select>                
                <mat-error class="mat-error">Campo requerido</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <label class="label-detail">Producto</label>
              <mat-form-field class="input-form" [floatLabel]="'never'">
                <mat-select
                  matInput                  
                  name="producto"
                  placeholder="Seleccione Producto"
                  formControlName="producto">
                  <mat-option [value]="productos.id_producto" *ngFor="let productos of lstProductos"> {{ productos.producto }} </mat-option>
                </mat-select>
                <mat-error class="mat-error">Campo requerido</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-detail">Valor</label>
              <mat-form-field class="input-form" [floatLabel]="'never'">
                <input
                  currencyMask
                  matInput
                  required
                  class="custom-input"
                  name="valor"
                  formControlName="valor"/>
                <mat-error class="mat-error">Campo requerido</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="align-center">
            <div class="button-large">
              <button mat-raised-button color="primary" type="submit">Actualizar Información</button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</section>